*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvatica, sans-serif;
    
}
body{
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    height: 80%;
    width: 65%;
    background: #54a0ff;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.main #minimize{
    position: absolute;
    top: 75px;
    left: 1060px;
}
.main #maximize{
    position: absolute;
    top: 75px;
    left: 1080px;
}
.main #close{
    position: absolute;
    top: 75px;
    left: 1100px;
}
.main #backward{
    position: absolute;
    top: 515px;
    left: 700px;
}
.main #play{
    position: absolute;
    top: 515px;
    left: 750px;
}
.main #forward{
    position: absolute;
    top: 515px;
    left: 800px;
}
hr{
    position: relative;
    top: 35px;
    background:black;
    height: 0.5px;
    border-color: black;
}
.fe3logo{
    position: absolute;
    top:100px;
    left: 250px;
}
.uploadlogo{
    position: absolute;
    top:200px;
    left: 285px;
}
.allMlogo{
    position: absolute;
    top:243px;
    left: 273px;
}
.Cplaylistlogo{
    position: absolute;
    top:280px;
    left: 273px;
}
.main_2{
    position: absolute;
    top:100px;
    left: 389px;
    height: 58%;
    width: 54%;
    background: #5f27cd;
    border-style: solid;
    border-color: #341f97;
    border-width: 1px;
    border-radius: 10px;
}
.searchB{
    position: absolute;
    top: 20px;
    left: 40px;
    height: 33px;
    width: 240px;
    background:rgba(245, 245, 245, 0.1);
    border-style: solid;
    border-color: #222f3e;
    border-width: 1px;
    border-radius: 5px;
}
.logo{
    position: absolute;
    top: 20px;
    left: 40px;
}
.ttle{
    position: absolute;
    left: 120px;
    top: 140px;
    font-size:15px;
    color: white;
}
.artst{
    position: absolute;
    top: 140px;
    left: 280px;
    font-size:15px;
    color: white;
}
.albm{
    position: absolute;
    top: 140px;
    left: 450px;
    font-size:15px;
    color: white;
}
.dration{
    position: absolute;
    top: 140px;
    left: 630px;
    font-size:15px;
    color: white;
}
.BG{
    position: absolute;
    bottom: 0px;
    left: 170px;
}
.BG1{
    position: absolute;
    top: 20px;
    left: 400px;
}
.BG2{
    position: absolute;
    top: 0px;
    left: 440px;
}
.BG3{
    position: absolute;
    top:12;
    left: 480px;
}
.scrollB{
    position: absolute;
    top:100px;
    left: 1113px;
    height:58%;
    width: 1%;
    background: #c8d6e5;
    border-style: solid;
    border-color:black ;
    border-width: 1px;
}
.main_3{
    position: absolute;
    top:400px;
    left: 389px;
    height: 9%;
    width: 52.9%;
    background: #341f97;
    border-style: solid;
    border-color: #341f97;
    border-width: 1px;
    border-radius: 15px;
}
.some_t{
    position: absolute;
    left: 105px;
    top: 17.5px;
    font-size:13px;
    color: white;
}
.some_ar{
    position: absolute;
    top: 17.5px;
    left: 265px;
    font-size:13px;
    color: white;
}
.some_al{
    position: absolute;
    top: 17.5px;
    left: 435px;
    font-size:13px;
    color: white;
}
.dration_2{
    position: absolute;
    top: 17.5px;
    left: 640px;
    font-size:13px;
    color: white;
}
.main_4{
    position: absolute;
    top:330px;
    left: 389px;
    height: 9%;
    width: 52.9%;
    background: #341f97;
    border-style: solid;
    border-color: #341f97;
    border-width: 1px;
    border-radius: 15px;
}
.some_t1{
    position: absolute;
    left: 105px;
    top: 17.5px;
    font-size:13px;
    color: white;
}
.some_ar1{
    position: absolute;
    top: 17.5px;
    left: 265px;
    font-size:13px;
    color: white;
}
.some_al1{
    position: absolute;
    top: 17.5px;
    left: 435px;
    font-size:13px;
    color: white;
}
.dration_3{
    position: absolute;
    top: 17.5px;
    left: 640px;
    font-size:13px;
    color: white;
}
.main_5{
    position: absolute;
    top:260px;
    left: 389px;
    height: 9%;
    width: 52.9%;
    background: #341f97;
    border-style: solid;
    border-color: #341f97;
    border-width: 1px;
    border-radius: 15px;
}
.some_t2{
    position: absolute;
    left: 105px;
    top: 17.5px;
    font-size:13px;
    color: white;
}
.some_ar2{
    position: absolute;
    top: 17.5px;
    left: 265px;
    font-size:13px;
    color: white;
}
.some_al2{
    position: absolute;
    top: 17.5px;
    left: 435px;
    font-size:13px;
    color: white;
}
.dration_4{
    position: absolute;
    top: 17.5px;
    left: 640px;
    font-size:13px;
    color: white;
}
.song_duration{
    position: absolute;
    left: 500px;
    bottom: 130px;
}
input[type="range"]{
    width: 500px;
    height: 3px;
}
