*{
    margin: 0;
    padding: 0;
    
}
.header
{
    height: 100vh;
}
.navbar-style
{
    box-shadow: 0 1px 5px #2d3436;
    text-transform: uppercase;
}
.logo
{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar
{
    background: darkorange;
}
li a
{
    color: white;
    
}
.bigtext
{
    font-size: 40px;
    margin: 10px 0;
    color: Black;
}
.notes
{
    position: absolute;
    top:225px;
    left: 230px;
}
.notes:hover
{
    background-color: #2ecc71;
    box-shadow: 5px 5px 6px #2d3436;
    border-radius: 20px;
    transition: 0.1s;
    
}
.animals
{
    position: absolute;
    top:225px;
    left: 530px;
}
.animals:hover
{
    background-color: #2ecc71;
    box-shadow: 5px 5px 6px #2d3436;
    border-radius: 20px;
    transition: 0.1s;
    
}
.woods
{
    position: absolute;
    top:225px;
    left: 830px;
}
.woods:hover
{
    background-color: #2ecc71;
    box-shadow: 5px 5px 6px #2d3436;
    border-radius: 20px;
    transition: 0.1s;
    
}
.pink
{
    position: absolute;
    top:440px;
    left: 230px;
}
.pink:hover
{
    background-color: #2ecc71;
    box-shadow: 5px 5px 6px #2d3436;
    border-radius: 20px;
    transition: 0.1s;
    
}
.poster
{
    position: absolute;
    top:440px;
    left: 530px;
}
.poster:hover
{
    background-color: #2ecc71;
    box-shadow: 5px 5px 6px #2d3436;
    border-radius: 20px;
    transition: 0.1s;
    
}
.psd
{
    position: absolute;
    top:440px;
    left: 830px;
}
.psd:hover
{
    background-color: #2ecc71;
    box-shadow: 5px 5px 6px #2d3436;
    border-radius: 20px;
    transition: 0.1s;
    
}

    
    
   


